@font-face {
    font-family: "Gudea Bold";
    src: url('../fonts/Gudea-Bold.otf') format("opentype");
}

.btn-primary {
  @extend .btn-danger;
}
.btn-primary:focus, .dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem lighten($cyan, 10%) !important;
}

.swatch-100 {
  background-color: $gray-100;
}
.swatch-200 {
  background-color: $gray-200;
}
.swatch-300 {
  background-color: $gray-300;
  color: $white;
}
.swatch-400 {
  background-color: $gray-400;
  color: $white;
}
.swatch-500 {
  background-color: $gray-500;
}
.swatch-600 {
  background-color: $gray-600;
  color: $white;
}
.swatch-700 {
  background-color: $gray-700;
  color: $white;
}
.swatch-800 {
  background-color: $gray-800;
  color: $white;
}
.swatch-900 {
  background-color: $gray-900;
  color: $white;
}

.btn-sm {
  height: 28px !important;
  font-size: 13px;
}
.btn {
  text-transform: uppercase;
  height: 35px;
  font-family: "Gudea Bold", Helvetica, Arial;
  font-size: 16px;
}
.btn-lg {
  height: 50px !important;
}

.btn.disabled, .btn[disabled] {
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.form-control-sm {
  height: 28px !important;
  font-size: 13px;
}

.form-control {
  height: 35px;
  font-size: 16px;
}

.form-control:disabled {
  border-color: #d2d2d2;
  background-color: $white;
}

.form-control-lg {
  height: 50px !important;
  font-size: 20px;
}

.form-control:focus {
  @extend .btn-primary:focus;
}

.dropdown-toggle {
  @extend .btn-outline-secondary;
  font-family: Arial !important;
  text-transform: none;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  background-color: $white !important;
  color: $gray-400 !important;
}
