<div class="container-fluid">
  <header class="bg-primary position-fixed border-secondary" [ngClass]="{ 'border-bottom': !isClassActive }">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="logo col-md-4 text-left">
              <img class="ml-2 mr-3 float-left" src="../assets/images/Grosses_Landeswappen_Baden_Wuerttemberg.svg" alt="logo" />
              <div class="">
                <h3 class="mb-0">Lehrerfortbildung</h3>
                <h3 class="mb-0">Baden-Württemberg</h3>
              </div>
            </div>
            <div class="col-md-4 text-center">
                <h2><u>{{getTitleText()}}</u></h2>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn shadow-none bg-primary" type="button" name="button" (click)="isClassActive = !isClassActive;">
                  {{getSearchText()}}
                </button>
            </div>
        </div>
        <div class="pb-5" [ngClass]="{'d-none': isClassActive }">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="sr-only" for="headerinput1">Nummer</label>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="headerinput1" placeholder="Veranstaltungstitel, Nummer">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="headerdropdown1">Ort</label>
                  <cwc-dropdown id="headerdropdown1">
                      <div class="btn-group w-100">
                          <button class="btn btn-outline-secondary text-left">
                              Ort
                          </button>
                          <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                  type="button" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="true">
                          </button>
                          <div slot="dropdown-menu" class="dropdown-menu">
                              <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                              <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                          </div>
                      </div>
                  </cwc-dropdown>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label class="sr-only" for="headerdropdown2">Umkreis</label>
                  <cwc-dropdown id="headerdropdown2">
                      <div class="btn-group w-100">
                          <button class="btn btn-outline-secondary text-left">
                              Umkreis
                          </button>
                          <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                  type="button" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="true">
                          </button>
                          <div slot="dropdown-menu" class="dropdown-menu">
                              <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                              <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                          </div>
                      </div>
                  </cwc-dropdown>
                </div>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Suchen</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </header>
  <div class="position-absolute">
    <div class="btn-toolbar bg-warning justify-content-center pt-2 pb-2" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-warning rounded-circle">1</button>
            <button type="button" class="btn btn-warning rounded-circle">2</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-warning rounded-circle">3</button>
            <button type="button" class="btn btn-warning rounded-circle">4</button>
            <button type="button" class="btn btn-warning rounded-circle">5</button>
            <button type="button" class="btn btn-warning rounded-circle">6</button>
            <button type="button" class="btn btn-warning rounded-circle">7</button>
        </div>
    </div>
    <div class="container mt-5">
        <h1>[ Bearbeitungsmodus ]</h1>
    </div>
    <div class="container">
        <div class="bg-light mt-5 mb-3 pt-2 pb-2 pl-3">
            <div class="row">
                <div class="col-md-4 mt-1">
                    <strong>Basisdaten</strong>
                </div>
                <div class="col-md-8">
                    <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-secondary">1</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-outline-secondary">2</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-outline-secondary">3</button>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="Fourth group">
                            <button type="button" class="btn btn-outline-secondary" disabled>4</button>
                        </div>
                        <div class="btn-group mr-3" role="group" aria-label="Fifth group">
                            <button type="button" class="btn btn-outline-secondary">5</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="form-group">
                <cwc-autocomplete-select label="Bearbeitende Person(en)" placeholder="Search something e.g. 'Argentina'"
                                         class="border-form-control" [data]="names"></cwc-autocomplete-select>
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="input2">Veranstaltungstitel</label>
                        <input class="form-control" id="input2" type="text" name="" value="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="input3">Veranstaltungsnummer</label>
                        <input readonly id="input3" class="form-control-plaintext" type="text" name="" value="88733943">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="input4">Veranstaltungstyp</label>
                        <input id="input4" class="form-control" type="text" name="" value="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Eigenschaften im Online-Portal</label>
                        <div class="row mt-2 mb-2">
                            <div class="checkbox col-md-6">
                                <label>
                                    <input class="form-check form-check-inline" type="checkbox" name="" value="">
                                    Sichtbar
                                </label>
                            </div>
                            <div class="checkbox col-md-6">
                                <label>
                                    <input class="form-check form-check-inline" type="checkbox" name="" value="">
                                    Buchbar
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="">Inhalt</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label" for="">Ziel der Veranstaltung</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>
            <div class="mt-5">
                <div class="mb-4">
                    <strong>Kataloggliederung</strong>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="dropdown1">Hauptbereich</label>
                            <br>
                            <cwc-dropdown id="dropdown1">
                                <div class="btn-group w-100">
                                    <button class="btn btn-outline-secondary text-left"
                                      type="button" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="true">
                                        QB | Qualitatsbereich Unterricht
                                    </button>
                                    <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                            type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                    </button>
                                    <div slot="dropdown-menu" class="dropdown-menu">
                                        <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                                        <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                                    </div>
                                </div>
                                <!-- <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle text-left"
                                type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                                QB | Qualitatsbereich Unterricht
                                </button>
                                <div slot="dropdown-menu" class="dropdown-menu">
                                  <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                                  <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                                </div> -->
                            </cwc-dropdown>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="control-label" for="dropdown2">Bereich</label>
                          <br>
                          <cwc-dropdown id="dropdown2">
                              <div class="btn-group w-100">
                                  <button class="btn btn-outline-secondary text-left">
                                      Sprachlich-literarischer Bereich
                                  </button>
                                  <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                          type="button" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true">
                                  </button>
                                  <div slot="dropdown-menu" class="dropdown-menu">
                                      <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                                      <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                                  </div>
                              </div>
                          </cwc-dropdown>
                      </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="control-label" for="dropdown3">Teilbereich</label>
                          <br>
                          <cwc-dropdown id="dropdown3">
                              <div class="btn-group w-100">
                                  <button class="btn btn-outline-secondary text-left">
                                      Bilingualer Unterricht
                                  </button>
                                  <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                          type="button" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true">
                                  </button>
                                  <div slot="dropdown-menu" class="dropdown-menu">
                                      <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                                      <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                                  </div>
                              </div>
                          </cwc-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="control-label" for="dropdown4">Unterbereich</label>
                          <br>
                          <cwc-dropdown id="dropdown4">
                              <div class="btn-group w-100">
                                  <button class="btn btn-outline-secondary text-left">
                                      Keiner
                                  </button>
                                  <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                          type="button" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true">
                                  </button>
                                  <div slot="dropdown-menu" class="dropdown-menu">
                                      <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                                      <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                                  </div>
                              </div>
                          </cwc-dropdown>
                      </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                      <div class="form-group">
                          <label class="control-label" for="dropdown5">Themenschwerpunkt</label>
                          <br>
                          <cwc-dropdown id="dropdown5">
                              <div class="btn-group w-100">
                                  <button class="btn btn-outline-secondary text-left">
                                      IF | Individuelle Fortbildung
                                  </button>
                                  <button slot="dropdown-trigger" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                          type="button" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="true">
                                  </button>
                                  <div slot="dropdown-menu" class="dropdown-menu">
                                      <div class="dropdown-item" data-value="Automatic">dropdown button 1</div>
                                      <div class="dropdown-item" data-value="Manual">dropdown button 2</div>
                                  </div>
                              </div>
                          </cwc-dropdown>
                      </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
    <footer class="pt-5 pb-4 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-12 text-center">
                <img class="footerlogo" src="../assets/images/Grosses_Landeswappen_Baden_Wuerttemberg.svg" alt="logo" />
              </div>
            </div>
            <h3 class="text-center pt-1">Baden-Württemberg</h3>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 pt-2">
            <div class="row text-left">
              <div class="col-sm-4">
                <a href="#"><strong>Kontakt</strong></a>
              </div>
              <div class="col-sm-4">
                <a href="#"><strong>Datenschutz</strong></a>
              </div>
              <div class="col-sm-4">
                <a href="#"><strong>Impressum</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
