// Color variables
$grau-1: #e8e8e8;
$grau-2: #bababa;
$grau-3: #6d6d6d;
$grau-4: #3f3f3f;
$schwarz: #000000;
$weis: #ffffff;
$eidotter: #ffcd00;
$eidotterHover: #ffcd00;

/deep/ cwc-navigation.with-margin-top {
  margin-top: 144px;
  height: calc(100vh - 144px);
  z-index: 99999;

  cwc-navigation-global-section {
    div.cwc-navigation-global-section-inner {
      background-color: #6d6d6d;
      box-shadow: 7px 0 20px -4px #888;
    }

    [slot="primary-actions"] {
      a.navigation-link {
        display: block;
        height: 42px;
        line-height: 42px;
        width: 64px;
        text-align: center;
        border-left: 4px solid $grau-3;

        img {
          width: 32px;
          height: 32px;
        }

        &.is-active {
          border-radius: 0%;
          background-color: $weis;
          color: $grau-4;
          margin-right: 0;
          margin-left: 0;
          border-left: 4px solid $eidotter;

          &:hover {
            background-color: $weis;
          }
        }

        &:hover {
          cursor: pointer;
          border-radius: 0;
          border-left: 4px solid $schwarz;
          background-color: $grau-4;
        }
      }
    }

    [slot="secondary-actions"] {
      cwc-navigation-global-item.opened {
        img {
          transform: rotate(180deg);
          transform-origin: 25% 25%;
        }
      }
    }
  }

  cwc-navigation-container-section {
    box-shadow: 7px 0 20px -4px #888;

    div.cwc-navigation-container-section-inner {
      background-color: #6d6d6d;

      a.container-link {
        background-color: #6d6d6d;
        border-radius: 0%;
        margin-right: 0;
        margin-left: 0;
        height: 42px;
        display: block;
        padding-left: 8px;
        padding-top: 16px;

        &.is-active {
          background-color: $weis;
          color: $grau-4;
        }
      }
    }
  }
}
