@import 'assets/styles/bootstrap/variables';
@import '~bootstrap-scss/bootstrap';

@font-face {
  font-family: "Gudea Bold";
  src: url('./assets/fonts/Gudea-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Gudea Regular";
  src: url('./assets/fonts/Gudea-Regular.otf') format("opentype");
}

@font-face {
  font-family: "Garamond Regular";
  src: url('./assets/fonts/Garamond-Regular.ttf') format("opentype");
}

body {
  font-family: "Gudea Regular", Helvetica, Arial;
}

select.form-control, textarea.form-control {
  height: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Garamond Regular", Helvetica, Arial;
}

.control-label, .label-wrapper {
  font-size: 12px;
  font-weight: 900;
  color: $gray-300;
}

.bg-primary {
  background-color: #fffde9 !important;
}

.bg-secondary, .badge-primary, .badge-secondary {
  background-color: $yellow !important;
}

.badge {
  color: $black;
  border-radius: 0;
  font-weight: 100;
  font-size: 14px;
}

.btn-primary {
  @extend .btn-danger;
}

.btn-primary:focus {
  @extend .btn-primary:hover;
}

.btn-primary:active {
  background-color: $red !important;
  border-color: $red !important;
}

.btn:focus, a:focus, cwc-dropdown > .btn-group.show {
  box-shadow: 0 0 0 0.2rem lighten($cyan, 10%) !important;
}

.btn-warning {
  color: $gray-800;
}

.btn-warning:focus {
  @extend .btn-warning:hover;
}

.btn-warning:active {
  background-color: $gray-800 !important;
  color: $white !important;
}

.btn-warning.disabled, .btn-warning[disabled],
.btn-warning.disabled:hover, .btn-warning[disabled]:hover,
.btn-warning.disabled:active, .btn-warning[disabled]:active,
.btn-warning.disabled:focus, .btn-warning[disabled]:focus, {
  background-color: $yellow !important;
  border-color: $yellow !important;
  color: #d9ae00 !important;
  box-shadow: none !important;
}

.btn-primary:hover {
  box-shadow: 0 0 1rem 0.1rem lighten($gray-300, 30%);
}

.swatch-100 {
  background-color: $gray-100;
}
.swatch-200 {
  background-color: $gray-200;
}
.swatch-300 {
  background-color: $gray-300;
  color: $white;
}
.swatch-400 {
  background-color: $gray-400;
  color: $white;
}
.swatch-500 {
  background-color: $gray-500;
}
.swatch-600 {
  background-color: $gray-600;
  color: $white;
}
.swatch-700 {
  background-color: $gray-700;
  color: $white;
}
.swatch-800 {
  background-color: $gray-800;
  color: $white;
}
.swatch-900 {
  background-color: $gray-900;
  color: $white;
}

.btn-sm {
  height: 28px !important;
  font-size: 13px !important;
}
.btn {
  text-transform: uppercase;
  height: 35px;
  font-family: "Gudea Regular", Helvetica, Arial;
  font-size: 16px;
}
.btn-lg {
  height: 50px !important;
}

.btn.disabled, .btn[disabled] {
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.form-control-sm {
  font-size: 13px !important;
  height: 28px !important;
}

.form-control {
  font-size: 16px;
  height: 35px;
  border-color: $gray-300;
}

.form-control:disabled {
  border-color: #d2d2d2;
  background-color: $white;
}

.form-control-lg {
  font-size: 20px !important;
  height: 50px !important;
}

.form-control:focus {
  @extend .btn:focus;
}

.btn-outline-secondary {
  font-family: Arial !important;
  text-transform: none;
  width: 100%;
  border-color: $gray-300;
  background-color: $white;
  color: $gray-300 !important;
}

.dropdown-toggle-split {
  width: auto;
}

.dropdown-toggle-split::after {
  position: static !important;
}

.dropdown-menu {
  width: 100%;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus {
  background-color: $gray-100;
  color: $gray-400 !important;
}

.input-group-prepend {
  height: 35px;
}

.custom-select {
  -webkit-appearance: none;
}

.btn-outline-secondary[disabled], .btn-outline-secondary.disabled {
  background-color: $gray-100;
  border-color: $gray-600;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.position-fixed, .position-absolute {
  left: 0;
  right: 0;
}

.position-fixed {
  z-index: 1000;
}

.position-absolute {
  top: 198px;
}

a {
  text-decoration: none;
  color: $gray-700;
}

a:hover {
  text-decoration: underline;
  color: $gray-700;
}

.form-control:hover, .btn-outline-secondary:hover, .btn-outline-secondary:focus {
  border-color: $gray-400 !important;
  box-shadow: 0 0 0.5rem 0.1rem lighten($gray-300, 30%);
}

button.bg-primary:focus, button.bg-primary:hover {
  background-color: #fffde9 !important;
}

header {
  box-shadow: 0 0 1.5rem 0.3rem lighten($gray-300, 30%);
}

.logo > img {
  width: 20%;
}

.footerlogo {
  width: 15%;
}

scb-badge > span > span > span {
  border-radius: 50%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

scb-badge > span > span > span:hover {
  @extend .btn-warning:hover;
  cursor: pointer;
}

scb-badge > span {
  height: 24px;
  transform: translateY(-2px);
}

scb-badge > span > span {
  height: 20px;
  transform: translateY(-2px);
}

cwc-dropdown .btn-outline-secondary:hover {
  background-color: $white !important;
  box-shadow: none !important;
}

cwc-dropdown .btn-outline-secondary:focus {
  background-color: $white !important;
  box-shadow: none !important;
}

cwc-dropdown > .btn-group:hover > .btn, cwc-dropdown > .btn-group.show > .btn {
  border-color: $gray-400 !important;
  color:  $gray-400 !important;
}

cwc-dropdown > .btn-group:hover {
  box-shadow: 0 0 0.5rem 0.1rem lighten($gray-300, 30%);
}

.dropdown-toggle.dropdown-toggle-split {
  background-color: $white !important;
}

cwc-dropdown .dropdown-item:hover {
  background-color: $white;
}

cwc-dropdown .dropdown-item:hover::after {
  font-family: "Material Icons";
  content: "\e5c8";
  position: absolute;
  right: 10px;
  font-weight: bolder;
}

.dropdown-toggle::after {
  font-family: "Material Icons";
  content: "\e5cc";
  position: absolute;
  right: 10px;
  border: none !important;
  transform: rotate(90deg);
  width: auto;
  height: auto;
}

cwc-dropdown  .btn-group.show .dropdown-toggle::after {
  transform: rotate(270deg);
}

.border-secondary {
  border-color: $gray-200 !important;
}

cwc-autocomplete-select .form-control {
  height: auto;
  min-height: 38px;
}

cwc-popper .popper__arrow {
  border-bottom-color: $gray-800 !important;
}

cwc-popper > .popper > .dropdown-menu {
  border-radius: 0;
  min-width: 0;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  padding-bottom: 0;
  height: 25px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Gudea Bold", Helvetica, Arial;
}

.translate-form {
  transform: translateY(99px);
}

cwc-switch .form-check.sc-cwc-switch {
  padding-left: 0 !important;
}

cwc-switch .switch.sc-cwc-switch {
  width: 20px !important;
  height: 20px !important;
}

cwc-switch .slider.sc-cwc-switch {
  border-radius: 0 !important;
  background-color: $white;
  border-width: 1px;
  border-color: $gray-700;
  border-style: solid;
}

input.sc-cwc-switch:checked + .slider.sc-cwc-switch {
  background-color: $gray-700;
}

.slider.round.sc-cwc-switch::before {
  left: -2px;
  bottom: 7px;
  border-radius: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  transition: 0s;
}

input.sc-cwc-switch:checked + .slider.sc-cwc-switch::before {
  font-family: "Material Icons";
  content: "\e5ca";
  transform: none;
  color: $white;
  font-size: 22px;
}

.labelON.sc-cwc-switch {
  color: $gray-300;
  top: -2px;
  left: 20px;
  font-family: "Gudea Regular", Helvetica, Arial;
  padding-left: 15px;
  opacity: 1;
  transition: 0s;
  font-size: 16px;
}

a {
  width: auto;
  height: 35px;
  text-align: center;
  padding-top: 0.4rem;
}

// cwc-navigation {
//   display: none !important;
// }
